*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img{
        width: 100vw;
        height: 100vh;
    }

}

#Sun{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 47, 0);
    border-radius: 50%;
    animation: moving-sun 2s linear infinite;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 20px 6px rgb(255, 115, 0);
}

@keyframes moving-sun {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.circle{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(245, 243, 243, 0.02);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mercury{
    width: 130px;
    height: 130px;

}

.venus{
    width: 180px;
    height: 180px;
    
}

.earth{
    width: 230px;
    height: 230px;
}

.mars{
    width: 300px;
    height: 300px;
}

.jupiter{
    width: 380px;
    height: 380px;
}

.saturn{
    width: 450px;
    height: 450px;
}

.uranus{
    width: 540px;
    height: 540px;
}

.neptune{
    width: 630px;
    height: 630px;
}

.pluto{
    width: 730px;
    height: 730px;
}

#planet1{
    width: 23px;
    height: 23px;
    background-color: rgb(161, 98, 16);
    box-shadow: 0 0 10px 4px rgb(141, 91, 6);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-mercury 0.7s linear infinite;
}


@keyframes moving-mercury {
   from{
        transform: rotate(0deg) translate(67px);
   }to{
        transform: rotate(360deg) translate(67px);
   }
}

#planet2{
    width: 30px;
    height: 30px;
    background-color: rgb(226, 147, 49);
    box-shadow: 0 0 10px 3px rgb(200, 103, 5);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-venus 1.2s linear infinite;
}


@keyframes moving-venus {
   from{
        transform: rotate(0deg) translate(93px);
   }to{
        transform: rotate(360deg) translate(93px);
   }
}

#planet3{
    width: 37px;
    height: 37px;
    background-color: rgb(50, 111, 215);
    box-shadow: 0 0 10px 4px rgb(9, 99, 163);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-earth 2.5s linear infinite;
}


@keyframes moving-earth {
   from{
        transform: rotate(0deg) translate(122px);
   }to{
        transform: rotate(360deg) translate(122px);
   }
}

#planet4{
    width: 29px;
    height: 29px;
    background-color: rgb(132, 44, 11);
    box-shadow: 0 0 10px 4px rgb(124, 37, 0);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-mars 3.2s linear infinite;
}


@keyframes moving-mars {
   from{
        transform: rotate(0deg) translate(150px);
   }to{
        transform: rotate(360deg) translate(150px);
   }
}

#planet5{
    width: 48px;
    height: 48px;
    background-color: rgb(178, 161, 111);
    box-shadow: 0 0 10px 3px rgb(157, 155, 21);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-jupiter 4.7s linear infinite;
}


@keyframes moving-jupiter {
   from{
        transform: rotate(0deg) translate(190px);
   }to{
        transform: rotate(360deg) translate(190px);
   }
}

#planet6{
    width: 42px;
    height: 46px;
    background-color: rgb(181, 155, 39);
    box-shadow: 0 0 10px 5px rgb(232, 228, 32);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-saturn 5.5s linear infinite;
}


@keyframes moving-saturn {
   from{
        transform: rotate(0deg) translate(225px);
   }to{
        transform: rotate(360deg) translate(225px);
   }
}

#planet7{
    width: 39px;
    height: 39px;
    background-color: rgb(102, 178, 237);
    box-shadow: 0 0 10px 2px rgb(10, 188, 215);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-uranus 6.4s linear infinite;
}


@keyframes moving-uranus {
   from{
        transform: rotate(0deg) translate(270px);
   }to{
        transform: rotate(360deg) translate(270px);
   }
}

#planet8{
    width: 39px;
    height: 39px;
    background-color: rgb(44, 10, 156);
    box-shadow: 0 0 10px 2px rgb(46, 5, 181);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-neptune 7.4s linear infinite;
}


@keyframes moving-neptune {
   from{
        transform: rotate(0deg) translate(315px);
   }to{
        transform: rotate(360deg) translate(315px);
   }
}

#planet9{
    width: 20px;
    height: 20px;
    background-color: rgb(99, 154, 22);
    box-shadow: 0 0 10px 2px rgb(6, 139, 6);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    /* top: 20px; */
    /* left: 50px; */
    animation: moving-pluto 8.5s linear infinite;
}


@keyframes moving-pluto {
   from{
        transform: rotate(0deg) translate(365px);
   }to{
        transform: rotate(360deg) translate(365px);
   }
}