*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    perspective: 800px;
}

.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    cursor: pointer;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-out; */
    transition: all 2s ease-in;
    /* transform: translate(100px, 100px); */
    /* transform: rotate(30deg); */
    /* transform: skew(40deg); */
}

/* .box:hover{ */
    /* background-color: red;
    width: 200px;
    height: 200px; */
    /* transform: scale(2); */
    /* transform: translate(100px, 100px); */
    /* transform: translateX(200px) */
    /* transform: translateY(200px) */
    /* transform: rotate(30deg);
    transform: skew(20deg); */
    /* transform: translateZ(200px); */
    /* transform: rotate(180deg); */
    /* transform: translateY(100px) rotate(60deg) scale(1.5); */

/* } */