*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

/* main container */

.main-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    margin: auto;
    padding-top: 40px;
}

/* Side bar */

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    padding: 40px;
}

/* .main-content{
    height: 90vh;
    background-color: #2a2a2a;
} */

.profile{
    text-align: center;

    img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 2px solid #3a3a3a;
    }

    h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: #e0e0e0;
        margin-top: 20px;
    }
    p{
        background-color: #1e1e1e;
        border: 2px solid #3a3a3a;
        border-radius: 10px;
        color: #FFBF00;
        font-size: 0.8rem;
        padding: 5px 12px;
        display: inline-block;
        margin-top: 10px;
    }
}

.contact{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #3a3a3a;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.email, .phone, .location{
    margin-bottom: 15px;

    a, p{
        text-decoration: none;
        color: #e0e0e0;
        /* font-size: 0.9rem; */
    }
}

.social{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 2px solid #3a3a3a;
    text-align: center;

    img{
        height: 24px;
        width: 24px;
        margin-left: 5px;
        filter: grayscale(1) invert(0.7);
        transition: filter 0.3s ease;
    }

    img:hover{
        filter: grayscale(0) invert(0);
    }
}

/* main content */
.main-content{
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    padding: 40px;
}

/* navigation bar */

#navigation{
    padding-bottom: 25px;
    border-bottom: 2px solid #3a3a3a;

    nav{
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        a{
            text-decoration: none;
            font-weight: 500;
            color: #a0a0a0;
            transition: color 0.3s ease;
        }
            
        .active, a:hover{
            color: #FFBF00;
        }
    }
}

/* about me */

#about{
    margin-top: 20px;
    margin-bottom: 40px;

    p{
        color: #a0a0a0;
        text-align: justify;
    }
}
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 65px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

/* Skills */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;

    .item{
        padding: 20px;
        border-radius: 10px;
        border: 2px solid #3a3a3a;
        background-color: #1e1e1e;
        margin-top: 20px;
        text-align: center;
        
        img{
            height: 60px;
            width: 60px;
            filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
            margin-bottom: 12px;
        }

        h3{
            font-size: 1rem;
            font-weight: 500;
        }
    }
}